#slider{margin-bottom:63px}


#flexslider .slides > li {
	display: none;
	position:relative
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {
	text-transform: capitalize;
}
/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .slides {
	display: block;
}
* html .slides {
	height: 1%;
}
#flexslider {
	position:relative;
	overflow:hidden;
	height:513px
}

.slides {
	list-style: none outside none;
	margin:0;
}
/* Control Nav */
#flexslider .flex-direction-nav {
	position:absolute;
	top:50%;
	left:0;
	overflow:hidden;
	width:100%;
	margin:-40px 0 0;
	z-index:1000;
	list-style:none;
}


 .flex-direction-nav li{float:right;text-align:right;height:80px;width:40px;background:url(../img/point.png)}
 .flex-direction-nav li:first-child{float:left;text-align:left}




#flexslider .flex-direction-nav li a {
	width:40px;
	height:80px;
	display:block;
	opacity:0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);

}
#flexslider .flex-direction-nav li a.flex-prev {
	background:url(../img/prev.png) no-repeat 50% 50%;
	margin-left:0px;
	float:left
}
 #flexslider .flex-direction-nav li a.flex-next {
	background:url(../img/next.png) no-repeat 50% 50%;
	float:right;
	margin-right:0px
}
#flexslider .flex-direction-nav li a:hover {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}


.flex-control-nav {
	list-style:none;
	z-index:2;
	list-style:none;
	overflow:hidden;
	margin:0;
	list-style:none;
}
.flex-control-nav li {
	float:left;
	width:253px;
	height:134px;
	margin-left:1px
}
.flex-control-nav li:first-child {
	margin:0;
}
.flex-control-nav li a {
	display:block;
	cursor:pointer
}
.flex-control-nav li a:hover,  .flex-control-nav li a.flex-active {
}
.flex-control-nav li a.flex-active {
	cursor:default
}
/* #carousel */
 
#carousel {
	margin-top:2px;
	overflow:hidden;
	position:relative ;
	height:142px
	
}
#carousel .slides li {
	margin-left:1px;
	cursor:pointer;
	opacity:.2;
	position:relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	height:142px;
	float:left
}
#carousel .slides li img {
	height:134px
}
#carousel .slides li:first-child {
	margin-left:0
}
#carousel .slides li.flex-active-slide, #carousel .slides li:hover {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
#carousel .flex-active-slide {
	cursor:default
}
.slide-cont {
	width:134px;
	height:134px;
	background:#161a1b;
	position:absolute;
	top:0;
	right:0;
	padding:0;
	text-align:left !important
}
.slide-cont span {
	position:absolute;
	margin:-20px 0 0 20px;
	top:50%;
	width:85%;
	display:inline-block;
	left:0;
	font-size:16px;
	line-height:1em;
	color:#fff;
	text-transform:uppercase;
	font-family:'Anton', sans-serif;
}


#carousel .flex-direction-nav {
	top:0;
	left:0;
	position:absolute;
	margin:0; 
	width:100%;
	list-style:none;
	height:0
}

#carousel .flex-direction-nav li{float:right;text-align:right;height:142px;  width:40px;background:url(../img/point.png)}
#carousel .flex-direction-nav li:first-child{float:left;text-align:left}
#carousel .flex-direction-nav li a{	
display:inline-block;
	z-index: 10;
   width:40px;
	text-indent:-5000px;
	height:142px;
	z-index:99;
	cursor:pointer;
		opacity:0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}


#carousel .flex-direction-nav .flex-prev {
	background:url(../img/prev.png) no-repeat 50% 50%;	
}


#carousel .flex-direction-nav .flex-next {
	background:url(../img/next.png) no-repeat 50% 50% ;	
}

#carousel .flex-direction-nav li a:hover{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);}


 @media only screen and (min-width: 1300px) {
.flex-direction-nav{display:none}	
#flexslider{height:627px}
}
 @media only screen and (min-width: 768px) and (max-width: 979px) {
	 #flexslider {
	height:409px
}
}
 @media only screen and (max-width: 767px) {
.slides,#flexslider {
height:auto;
}

#slider{margin-bottom:40px}


}
 @media only screen and (max-width: 480px) {
.flex-control-nav {
 display:none;
}
}
